<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi Konfirmasi Akun</title>

    <!-- CSS -->
    <css th:replace="link::header-css"></css>
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
			<belumLogin th:replace="nav::nav1"></belumLogin>
   		<!-- Main Header -->
    </header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader">
        <span class="black-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->

    <!-- Content -->
        <div class="charity-main-section">
            <div class="container">
                <div class="row charity-login-wrap m-l-200 m-r-200">
                    <div class="col-md-12 charity-login">
                        <div class="widget_title m-t-10"><h2>Verifikasi</h2></div>
                            <div th:if="${successMessage}" class="alert alert-success"
						        role="alert" th:text=${successMessage}></div>						
						    <div th:if="${errorMessage}" class="alert alert-danger"
						        role="alert" th:text=${errorMessage}></div>
						    <div th:if="${invalidToken}" class="alert alert-danger"
					        role="alert" th:text=${invalidToken}></div>
					      	<form th:if="!${invalidToken}" th:action="@{/login}" method="post">
						        <input type="hidden" name="token" th:value=${token}  >
		                           <div>
		                               <label class="m-t-15"><b>PASSWORD</b></label>
		                               <input placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" id="password" type="password" size="50" title="Password must contain 8 charachters, including english lower/upper case letter (a-z) and at least one number(0-9)"  required/>
		                           </div>
		                           <div>
		                               <label class="m-t-15"><b>RETYPE PASSWORD</b></label>
		                               <input type="password" title="must same with password" name="repassword" id="repassword" placeholder="repassword" onChange="validatePassword();" size="50" required/>
		                           </div>
		                           <div>
							          <div class="help-block with-errors"></div>
						        </div>
						        <button type="submit"
						          class="charity-btn-profil">Save
						        </button>
					      </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Content -->

	    <!-- Footer -->
	    <footer th:replace="footer::foot"></footer>
   		<!-- Footer -->
    </div>
    <!-- jQuery -->
	    <manyscript th:replace="script::ms"></manyscript>
		<script13 th:replace="script::loader"></script13>	
	    <script5 th:replace="script::pass"></script5>
		<script7 th:replace="script::autocomplete"></script7>
			
	

</body>


<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>