<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>

    <!-- CSS -->
	    <css th:replace="link::header-css"></css>
	    <link rel="stylesheet" href="css/style.css">
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
   		<!-- Main Header -->
	</header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader" style="height: 275px;">
        <div class="black-transparent" style="height: 275px;"></div>
    </div>
    <dataProfil th:replace="nav::nav3"></dataProfil>

        <div class="charity-main-section m-t-10 m-b-20">
            <div class="container">
                <div class="row charity-profil-head">
                    <div class="col-md-2">
                        <div>
					         <ul class="children">
	                            	<li class="charity-list m-t-10 active"><a href="#">Overview</a></li>
	                                <li class="charity-list m-t-10"><a href="dashboard-proyek">Proyek</a></li>
	                                <li class="charity-list"><a href="dashboard-update-proyek">Progres Proyek</a></li>
	                                <li class="charity-list"><a href="dashboard-sponsor">Sponsor</a></li>
	                                <li class="charity-list"><a href="dashboard-pencairan">Pencairan Dana</a></li>
	                                <li class="charity-list"><a href="dashboard-profil">Edit Profil</a></li>
	                                <li class="charity-list"><a href="dashboard-verifikasi">Verifikasi</a></li>
	                                <li class="charity-list m-b-100"><a href="dashboard-password" >Ubah Password</a></li>
					        </ul>
					     </div>
                    </div>

	                    <div class="col-md-10 charity-profil-bio">
                      <br>
                        <div class="col-md-12 widget_title1">
                            <h2 ><font color="white">Donatur</font></h2>
                            <br><br>
                            <div class="thumb-list1">
                                <div class="text-holder" >
                                    <ul class="row">
                                    <li class="col-md-6 charlist"><h6 class="h61">Jumlah Sponsor</h6>
                                        <br><br>
                                        <div><h1 th:if="${Request+Berhasil+Gagal} != null" th:text="${Request+Berhasil+Gagal}"></h1>
                                        <h1 th:if="${Request+Berhasil+Gagal} == null">0</h1></div>
                                        <ul class="row">
                                            <li class="col-md-12 charlist">
                                                <li class="col-md-4 charlist">
                                                     <h6> Request </h6>
                                                     <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${Request}!=null" th:text="${Request}"></h6>
                                                          <h6 th:if="${Request}==null">0</h6>
                                                         </li>
                                                     </ul>   
                                                </li>
                                                <li class="col-md-4 charlist">
                                                    <h6>Berhasil</h6>
                                                    <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${Berhasil}!=null"  th:text="${Berhasil}"></h6>
                                                          <h6 th:if="${Berhasil}==null">0</h6>
                                                         </li>
                                                     </ul>      
                                               </li>
                                                <li class="col-md-4 charlist">
                                                    <h6>Gagal</h6>
                                                    <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${Gagal}!=null" th:text="${Gagal}"></h6>
                                                          <h6 th:if="${Gagal}==null">0</h6>
                                                         </li>
                                                     </ul>      
                                                </li>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-6 charlist">
                                        <ul class="row">
                                            <li class="col-md-1 charlist">
                                                <div>
                                                  <p class="charlist2"></p>  
                                                </div>
                                            </li>
                                            <li class="col-md-11 charlist">
                                                <h6 class="h62">TOTAL SPONSOR</h6>
                                                <br>
                                                <div><h1 th:if="${TotalSponsor}!= null" th:text="${'Rp ' + #numbers.formatDecimal(TotalSponsor, 0, 'COMMA', 2, 'POINT')}"></h1>
                                                <h1 th:if="${TotalSponsor}== null" th:text="${'Rp ' + #numbers.formatDecimal('0', 0, 'COMMA', 2, 'POINT')}"></h1></div>
                                            </li>
                                        </ul>
                                    </li>
                                 </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 widget_title1">
                            <h2 ><font color="white">Proyek</font></h2>
                            <br><br>
                            <div class="thumb-list1">
                                <div class="text-holder" >
                                    <ul class="row">
                                    <li class="col-md-6 charlist"><h6 class="h61">Jumlah Proyek</h6>
                                        <br><br>
                                        <div><h1 th:if="${Request1+Aktif+TidakAktif+Gagal1}!= null" th:text="${Request1+Aktif+TidakAktif+Gagal1}"></h1>
                                        </div>
                                        <ul class="row"><h1 th:if="${Request1+Aktif+TidakAktif+Gagal1}== null">0</h1>
                                            <li class="col-md-12 charlist">
                                                <li class="col-md-3 charlist">
                                                     <h6> Request </h6>
                                                     <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${Request1}!=null" th:text="${Request1}"></h6>
                                                          <h6 th:if="${Request1}==null">0</h6>
                                                         </li>
                                                     </ul>   
                                                </li>
                                                <li class="col-md-2 charlist">
                                                    <h6>Aktif</h6>
                                                    <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${Aktif}!= null" th:text="${Aktif}"></h6>
                                                          <h6 th:if="${Aktif}== null">0</h6>
                                                         </li>
                                                     </ul>      
                                               </li>
                                                <li class="col-md-4 charlist">
                                                    <h6>Tidak Aktif</h6>
                                                    <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${TidakAktif}!=null" th:text="${TidakAktif}"></h6>
                                                          <h6 th:if="${TidakAktif}==null">0</h6>
                                                         </li>
                                                     </ul>      
                                                </li>
                                                <li class="col-md-3 charlist">
                                                    <h6>Gagal</h6>
                                                    <ul class="row">
                                                         <li class=" col-md-12 charlist1">
                                                          <h6 th:if="${Gagal1}!=null" th:text="${Gagal1}"></h6>
                                                          <h6 th:if="${Gagal1}==null">0</h6>
                                                         </li>
                                                     </ul>      
                                                </li>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="col-md-6 charlist">
                                        <ul class="row">
                                            <li class="col-md-1 charlist">
                                                <div>
                                                  <p class="charlist2"></p>  
                                                </div>
                                            </li>
                                            <li class="col-md-11 charlist">
                                                <h6 class="h62">TOTAL SPONSOR TERKUMPUL</h6>
                                                <br>
                                                 <div><h1 th:if="${totalSponsorPengguna}!=null" th:text="${'Rp ' + #numbers.formatDecimal(totalSponsorPengguna, 0, 'COMMA', 2, 'POINT')}"></h1>
                                                <h1 th:if="${totalSponsorPengguna}==null" th:text="${'Rp ' + #numbers.formatDecimal('0', 0, 'COMMA', 2, 'POINT')}"></h1></div>
                                            </li>
                                        </ul>
                                    </li>
                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
   </form>


  <!-- Footer -->
	    <!-- Footer -->
    	<footer th:replace="footer::foot"></footer>
    <!-- Footer -->
    
	</div>    
</body>

    <jQuery th:replace="script::jQuery"></jQuery>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekAkun th:replace="script::cekAkun"></cekAkun>

<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>