<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>

    <!-- CSS -->
		<css th:replace="link::header-css"></css>
    	<link rel="stylesheet" href="css/style.css">
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
   		<!-- Main Header -->
	</header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader" style="height: 275px;">
        <div class="black-transparent" style="height: 275px;"></div>
    </div>

	<dataProfil th:replace="nav::nav3"></dataProfil>

        <div class="charity-main-section m-t-10 m-b-20">
            <div class="container">
                <div class="row charity-profil-head">
                    <div class="col-md-2">
                         <ul class="sidebar-menu" id="nav-accordion">
                           	<li class="charity-list m-t-10"><a href="overview">Overview</a></li>
                            <li class="charity-list m-t-10"><a href="dashboard-proyek">Proyek</a></li>
                            <li class="charity-list"><a href="dashboard-update-proyek">Progres Proyek</a></li>
                            <li class="charity-list"><a href="dashboard-sponsor">Sponsor</a></li>
                            <li class="charity-list active"><a href="#">Pencairan Dana</a></li>
                            <li class="charity-list"><a href="dashboard-profil">Edit Profil</a></li>
                            <li class="charity-list"><a href="dashboard-verifikasi">Verifikasi</a></li>
                            <li class="charity-list m-b-100"><a th:href="dashboard-password" >Ubah Password</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10 charity-profil-bio" style="color: white;">
                        <form method="post" action="dashboard-pencairan">
                            <div class="row charity-profil-text p-t-40">
                                <div class="widget_title_b m-t-10"><b><font style="color: white;">Nama Proyek</font></b></div>
                                <div class="col-md-8 charity-profil-input" style="width: 100%;">
                                <select th:name="proyek" id="proyek" style="width: 100%" onchange="myfunction()">
                                <option>Pilih Proyek</option><option th:each="proyek, iterStat:${listproyek}"
				                th:value="${proyek.id}" th:text="${proyek.namaProyek}">
               					</option>
                                </select></div>
                            </div>
                            <div class="row charity-profil-text m-t-10">
                                <div class="col-md-3 p-l-30 m-r-10"><b>Jumlah Dana yang Bisa Dicairkan</b></div>
                                <div class="col-md-8 charity-profil-input" style="width: 100%;">
                                <input type="text" id="sisaDana" style="width: 100%;" readonly/></div>
                            </div>
                            <div class="row charity-profil-text m-t-10">
                                <div class="col-md-3 p-l-30 m-r-10"><b>Nama Pencair</b></div>
                                <div class="col-md-8 charity-profil-input" style="width: 100%;">
                                <input type="text" name="namaPencair" style="width: 100%;"/></div>
                            </div>
                            <div class="row charity-profil-text">
                                <div class="col-md-3 p-l-30 m-r-10"><b>No Rekening</b></div>
                                <div class="col-md-8 charity-profil-input" style="width: 100%;">
                                <input type="text" name="noRekening" style="width: 100%;"/></div>
                            </div>
                            <div class="row charity-profil-text">
                                <div class="col-md-3 p-l-30 m-r-10"><b>Jumlah Dana</b></div>
                                <div class="col-md-8 charity-profil-input">
                                <input id="jumlahDana" type="text" name="jumlahDana" onchange="dana()" style="width: 100%;"/></div>
                            </div>
                            <div class="charity-btn-profil">
                                <button id="myBtn" class="charity-btn-profil-save" type="submit">
                                <b><font color="black">Cairkan</font></b></button>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>

 
	<!-- Footer -->
	    <footer th:replace="footer::foot"></footer>
    <!-- Footer -->
	</div>
</body>

    <jQuery th:replace="script::jQuery"></jQuery>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekAkun th:replace="script::cekAkun"></cekAkun>
 	<pengecekanDana th:replace="script::pengecekanDana"></pengecekanDana>
	<script>
		function dana(){
		 	var sisadana = $("#sisaDana").val();
		 	var jumlahdana = $("#jumlahDana").val();
		 	if(jumlahdana < sisadana){
		 		document.getElementById("myBtn").disabled = false;	
		 	}else{
		 		alert ("dana tidak bisa dicairkan")
		 		document.getElementById("myBtn").disabled = true;
		 	};
	 	};
	</script>
<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>