<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Dashboard</title>

    <!-- CSS -->
    <css th:replace="link::header-css"></css>
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
   		<!-- Main Header -->
	</header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader" style="height: 275px;">
        <div class="black-transparent" style="height: 275px;"></div>
    </div>

    <dataProfil th:replace="nav::nav3"></dataProfil>

        <div class="charity-main-section m-t-10 m-b-20">
            <div class="container">
                <div class="row charity-profil-head">
                    <div class="col-md-2 md2">
                        <div>
					         <ul class="children">
					             <li class="charity-list m-t-10"><a href="dashboard-proyek">Proyek</a></li>
					             <li class="charity-list"><a href="dashboard-update-proyek">Progres Proyek</a></li>
					             <li class="charity-list"><a href="dashboard-sponsor">Sponsor</a></li>
					             <li class="charity-list"><a href="dashboard-pencairan">Pencairan Dana</a></li>
					             <li class="charity-list"><a href="dashboard-profil">Edit Profil</a></li>
					             <li class="charity-list"><a href="dashboard-verifikasi">Verifikasi</a></li>
					             <li class="charity-list m-b-100 active"><a href="#">Ubah Password</a></li>
					        </ul>
					     </div>
                    </div>
                    <div class="col-md-10 charity-profil-bio">
                        <form method="post" action="dashboard-password" th:object=${penggunaAktif}>
                            <div class="row charity-profil-text m-t-20">
                                <div class="col-md-4 p-l-30 m-r-10"><b>Password Sekarang</b></div>
                                <div class="col-md-7 charity-profil-input">
                                <input type="password" style="width: 100%;" required/></div>
                            </div>
                            <div class="row charity-profil-text">
                                <div class="col-md-4 p-l-30 m-r-10"><b>Password Baru</b></div>
                                <div class="col-md-7 charity-profil-input"><input type="password" 
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" id="password" style="width: 100%;" 
                                title="Password must contain 8 charachters, including english lower/upper case letter (a-z) and at least one number(0-9)" required/></div>
                            </div>
                            <div class="row charity-profil-text">
                                <div class="col-md-4 p-l-30 m-r-10"><b>Konfirmasi Password Baru</b></div>
                                <div class="col-md-7 charity-profil-input"><input type="password" name="repassword" 
                                id="repassword" style="width: 100%;" required/></div>   
                            </div>
                            <div class="charity-btn-profil">
                                <button class="charity-btn-profil-save" type="submit"><b><font color="black">Save</font></b></button>
                            </div>
                        </form>    
                    </div>                    
                </div>
            </div>
        </div>

    <!-- Footer -->
		<footer th:replace="footer::foot"></footer>
	    <!-- Footer -->
	
	    <!-- Search Modal -->
	    <searching th:replace="modal::search"></searching>
	
	    <!-- Modal -->
		<logout th:replace="modal::logout"></logout>
	
	
	    <!-- jQuery -->
	    <manyscript th:replace="script::ms"></manyscript>
	
	    <script5 th:replace="script::pass"></script5>
		<script13 th:replace="script::loader"></script13>	
	</div>
    
</body>


<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>