<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>

    <!-- CSS -->
	    <css th:replace="link::header-css"></css>
	    <link rel="stylesheet" href="css/style.css">
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
   		<!-- Main Header -->
	</header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader" style="height: 275px;">
        <div class="black-transparent" style="height: 275px;"></div>
    </div>

	<dataProfil th:replace="nav::nav3"></dataProfil>
	
        <div class="charity-main-section m-t-10 m-b-20">
            <div class="container">
                <div class="row charity-profil-head">
                    <div class="col-md-2">
                        <div>
                            <ul class="sidebar-menu" id="nav-accordion">
                            	<li class="charity-list m-t-10"><a href="overview">Overview</a></li>
                                <li class="charity-list m-t-10"><a href="dashboard-proyek">Proyek</a></li>
                                <li class="charity-list"><a href="dashboard-update-proyek">Progres Proyek</a></li>
                                <li class="charity-list"><a href="dashboard-sponsor">Sponsor</a></li>
                                <li class="charity-list"><a href="dashboard-pencairan">Pencairan Dana</a></li>
                                <li class="charity-list"><a href="dashboard-profil">Edit Profil</a></li>
                                <li class="charity-list active"><a href="#">Verifikasi</a></li>
                                <li class="charity-list m-b-100"><a th:href="dashboard-password" >Ubah Password</a></li>
                           </ul>

                        </div>
                    </div>
                    <div class="col-md-10 charity-profil-bio">
                            <form method="post" action="dashboard-verifikasi" enctype="multipart/form-data">                        
                                <div class="row charity-profil-text m-t-20">
                                    <div class="widget_title_b m-t-10"><b><font color="white;">Foto KTP</font></b></div>
                                		<div class="col-md-8 charity-proyek-create">
	                                    	<label for="file-input" >
												<img id="Tfoto" src="#" alt="" class="imgproyek"/>                                   
											</label> 
											<div class="middle">                                  
	                                    		<span style="color:black;">Klik Untuk Menambahkan Gambar</span>
	                                    	</div>
	                                    	<input id="file-input" onchange="TampilFoto();" type="file" name="foto1" accept="image/*" required/>
                                		</div>
                                </div>
                                <div class="row charity-profil-text">
                                    <div class="widget_title_b m-t-10"><b><font color="white;">Verifikasi Identitas</font></b></div>
                                		<div class="col-md-8 charity-proyek-create">
	                                    	<label for="file-input1" >
												<img id="Tfoto1" src="#" alt="" class="imgproyek"/>                                   
											</label> 
											<div class="middle">                                  
	                                    		<span style="color:black;">Klik Untuk Menambahkan Gambar</span>
	                                    	</div>
	                                    	<input id="file-input1" onchange="TampilFoto1();" type="file" name="foto2" accept="image/*" required/>
                                		</div>
                                </div>
                                <div class="charity-btn-profil">
                                	<button class="charity-btn-profil-save" type="submit"><b><font color="black">Save</font></b></button>
                                </div>
                            </form>
                     </div>
               </div>                                       
                </div>
            </div>

    <!-- Footer -->
	    <footer th:replace="footer::foot"></footer>
   <!-- Footer -->
</div>
 
</body>
    <jQuery th:replace="script::jQuery"></jQuery>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekAkun th:replace="script::cekAkun"></cekAkun>
	<getPhoto th:replace="script::getPhoto"></getPhoto>
	<getPhoto1 th:replace="script::getPhoto1"></getPhoto1>

<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>