<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Dashboard</title>

    <!-- CSS -->
    <css th:replace="link::header-css"></css>
    <!-- CSS -->
</head>

<body class="home">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
   		<!-- Main Header -->
	</header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader" style="height: 275px;">
        <div class="black-transparent" style="height: 275px;"></div>
    </div>

	<dataProfil th:replace="nav::nav3"></dataProfil>
	
        <div class="charity-main-section m-t-10 m-b-20">
            <div class="container">
                <div class="row charity-profil-head">
                    <div class="col-md-2">
                        <div>
                            <ul class="sidebar-menu" id="nav-accordion">
                            	<li class="charity-list m-t-10"><a href="overview">Overview</a></li>
                                <li class="charity-list m-t-10"><a href="dashboard-proyek">Proyek</a></li>
                                <li class="charity-list"><a href="dashboard-update-proyek">Progres Proyek</a></li>
                                <li class="charity-list"><a href="dashboard-sponsor">Sponsor</a></li>
                                <li class="charity-list"><a href="dashboard-pencairan">Pencairan Dana</a></li>
                                <li class="charity-list"><a href="dashboard-profil">Edit Profil</a></li>
                                <li class="charity-list active"><a href="#">Verifikasi</a></li>
                                <li class="charity-list m-b-100"><a th:href="dashboard-password" >Ubah Password</a></li>
                           </ul>

                        </div>
                    </div>
                    <div class="col-md-10 charity-profil-bio">
                            <form method="post" action="dashboard-verifikasi" enctype="multipart/form-data">                        
                                <div class="row charity-profil-text m-t-20">
                                    <div class="widget_title_b m-t-10"><b>Foto KTP</b></div>
                                		<div class="col-md-8 charity-proyek-create">
	                                    	<label for="file-input" >
												<img id="Tfoto" src="#" alt="" class="imgproyek"/>                                   
											</label> 
											<div class="middle">                                  
	                                    		<span style="color:black;">Klik Untuk Menambahkan Gambar</span>
	                                    	</div>
	                                    	<input id="file-input" onchange="TampilFoto();" type="file" name="foto1" accept="image/*" required/>
                                		</div>
                                </div>
                                <div class="row charity-profil-text">
                                    <div class="widget_title_b m-t-10"><b>Verifikasi Identitas</b></div>
                                		<div class="col-md-8 charity-proyek-create">
	                                    	<label for="file-input1" >
												<img id="Tfoto1" src="#" alt="" class="imgproyek"/>                                   
											</label> 
											<div class="middle">                                  
	                                    		<span style="color:black;">Klik Untuk Menambahkan Gambar</span>
	                                    	</div>
	                                    	<input id="file-input1" onchange="TampilFoto1();" type="file" name="foto2" accept="image/*" required/>
                                		</div>
                                </div>
                                <div class="charity-btn-profil">
                                	<button class="charity-btn-profil-save" type="submit"><b><font color="black">Save</font></b></button>
                                </div>
                            </form>
                     </div>
               </div>                                       
                </div>
            </div>
        </div>





    <!-- Footer -->
    <footer id="charity-footer" class="charity-footer-one">
        <!-- Footer Widget -->
        <div class="charity-footer-widget">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 widget widget_usefull_links">
                        <div class="charity-footer-title"> <h2>Quick Links</h2> </div>
                        <ul>
                            <li><a href="#">Kategori</a></li>
                            <li><a href="#">Projek</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Seponsor</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md-4 widget widget_recent_news">
                        <div class="charity-footer-title"> <h2>Recent News</h2> </div>
                        <ul>
                            <li>
                                <figure><a href="#"><img src="extra-images/kesehatan.jpg" alt=""></a></figure>
                                <div class="widget_recent_news_text">
                                    <h6><a href="#">Kesehatan</a></h6>
                                    <span>22 Sept, 2018</span>
                                </div>
                            </li>
                            <li>
                                <figure><a href="#"><img src="extra-images/pendidikan.jpg" alt=""></a></figure>
                                <div class="widget_recent_news_text">
                                    <h6><a href="#">Pendidikan.</a></h6>
                                    <span>20 Sept, 2018</span>
                                </div>
                            </li>
                        </ul>
                    </aside>
                    <aside class="col-md-4 widget widget_gallery">
                        <div class="charity-footer-title"> <h2>Our Gallery</h2> </div>
                        <ul>
                            <li><a data-fancybox="gallery" href="extra-images/pendidikan.jpg"><img src="extra-images/pendidikan.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/kesehatan.jpg"><img src="extra-images/kesehatan.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/masyarakat.jpg"><img src="extra-images/masyarakat.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/pendidikan.jpg"><img src="extra-images/pendidikan.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/kesehatan.jpg"><img src="extra-images/kesehatan.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/kesehatan2.jpg"><img src="extra-images/kesehatan2.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/kesehatan3.jpg"><img src="extra-images/kesehatan3.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                            <li><a data-fancybox="gallery" href="extra-images/pendidikan.jpg"><img src="extra-images/pendidikan.jpg" alt=""> <i class="fa fa-plus"></i> </a></li>
                        </ul>
                    </aside>
                </div>
                <!-- CopyRight -->
                <div class="charity-copyright">
                    <a href="#" class="back-top bgcolor"><i class="fa fa-angle-up"></i></a>
                    <p>© 2018, All Right Reserved - Diferensia</p>
                    <ul>
                        <li><a href="404">Terms and conditions</a></li>
                        <li><a href="404">Privacy policy</a></li>
                    </ul>
                </div>
                <!-- CopyRight -->
            </div>
        </div>
        <!-- Footer Widget -->

    </footer>
    <!-- Footer -->

    <!-- Search Modal -->
    <div class="modal fade searchmodal" id="searchModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="#" class="charity-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <form>
                        <input type="text" value="Type Your Keyword" onblur="if(this.value == '') { this.value ='Type Your Keyword'; }" onfocus="if(this.value =='Type Your Keyword') { this.value = ''; }">
                        <input type="submit" value="">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <div>
                <center>
                 <h4 class="modal-title">LogOut</h4>   
                </center>
                 
            </div>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <center>
                <p>Apakah Anda Yakin ingin Keluar ?</p>    
            </center>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" ><a href="index">YA</a></button>
            <button type="button" class="btn btn-default"><a href="index-1">Tidak</a></button>
          </div>
        </div>

      </div>
    </div>


    <!-- jQuery -->
    <script src="script/jquery.js"></script>
    <script src="script/popper.min.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/slick.slider.min.js"></script>
    <script src="script/progressbar.js"></script>
    <script src="script/fancybox.min.js"></script>
    <script src="script/jquery.countdown.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="script/jquery.jplayer.js"></script>
    <script src="script/jplayer.playlist.js"></script>
    <script src="script/functions.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
    $(function () {
        $("#file-input").change(function () {
            $("#dvPreview").html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                    $("#dvPreview").show();
                    $("#dvPreview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                }
                else {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview").show();
                        $("#dvPreview").append("<img />");
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#dvPreview img").attr("src", e.target.result);
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                }
            } else {
                alert("Please upload a valid image file.");
            }
        });
    });
    </script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
    $(function () {
        $("#file-input1").change(function () {
            $("#dvPreview1").html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            if (regex.test($(this).val().toLowerCase())) {
                if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                    $("#dvPreview1").show();
                    $("#dvPreview1")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                }
                else {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview1").show();
                        $("#dvPreview1").append("<img />");
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#dvPreview1 img").attr("src", e.target.result);
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                }
            } else {
                alert("Please upload a valid image file.");
            }
        });
    });
    </script>

	<script type="text/javascript">
		function TampilFoto(){
			var oFReader = new FileReader();
			oFReader.readAsDataURL(document.getElementById("file-input").files[0]);
			oFReader.onload = function(oFREvent){
				document.getElementById("Tfoto").src = oFREvent.target.result;
			};
		};
	</script>   

	<script type="text/javascript">
		function TampilFoto1(){
			var oFReader = new FileReader();
			oFReader.readAsDataURL(document.getElementById("file-input1").files[0]);
			oFReader.onload = function(oFREvent){
				document.getElementById("Tfoto1").src = oFREvent.target.result;
			};
		};
	</script>   


</body>


<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>