<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<footer th:fragment="foot">
    <footer id="charity-footer" class="charity-footer-one">
      <!-- Footer Widget -->
        <div class="charity-footer-widget">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 widget widget_usefull_links">
                        <div class="charity-footer-title"> <h2>Quick Links</h2> </div>
                        <ul>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Sponsor</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            
                        </ul>
                    </aside>
                    <aside class="col-md-4 widget widget_recent_news">
                        <div class="charity-footer-title"> <h2>Last Update</h2> </div>
                        <ul>
                            <li>
                                <figure><a href="#"><img src="extra-images/kesehatan.jpg" alt=""></a></figure>
                                <div class="widget_recent_news_text">
                                    <h6><a href="#">Kesehatan</a></h6>
                                    <span>22 Sept, 2018</span>
                                </div>
                            </li>
                            <li>
                                <figure><a href="#"><img src="extra-images/pendidikan.jpg" alt=""></a></figure>
                                <div class="widget_recent_news_text">
                                    <h6><a href="#">Pendidikan.</a></h6>
                                    <span>20 Sept, 2018</span>
                                </div>
                            </li>
                        </ul>
                    </aside>
                     <aside class="col-md-4 widget widget_gallery">
                        <div class="charity-footer-title"> <h2>BANK</h2> </div>
                        <ul>
                            <li><a  href="#"><img src="Bank/BCA.png" alt=""></a></li>
                            <li><a  href="#"><img src="Bank/BRI.jpg" alt=""> </a></li>
                            <li><a  href="#"><img src="Bank/Bni.png" alt=""></i> </a></li>
                            <li><a  href="#"><img src="Bank/Doku.jpg" alt=""></i> </a></li>
                            <li><a  href="#"><img src="Bank/Mandiri.png" alt=""></i> </a></li>
                            <li><a  href="#"><img src="Bank/Muamalat.jpg" alt=""></i> </a></li>
                            <li><a  href="#"><img src="Bank/Bersama.png" alt=""></i> </a></li>
                        </ul>
                    </aside>
                 </div>
                <!-- CopyRight -->
                <div class="charity-copyright">
                    <a href="#" class="back-top bgcolor"><i class="fa fa-angle-up"></i></a>
                    <p>© 2018, All Right Reserved - Diferensia</p>
                    <ul>
                        <li><a href="404">Terms and conditions</a></li>
                        <li><a href="404">Privacy policy</a></li>
                    </ul>
                </div>
                <!-- CopyRight -->
            </div>
        </div>
        <!-- Footer Widget -->

    </footer>
</footer>
	
</body>
</html>