<!doctype html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>
   	<!-- CSS -->
   	    <css th:replace="link::header-css"></css>
	    <link rel="stylesheet" href="css/style-modal.css">
        <link rel="stylesheet" href="css/slick-slider.css">
	<!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
	    <header id="charity-header" class="charity-header-one">
	    <!-- Header -->
		    <!-- Main Header -->
			<div>
				<belumLogin th:replace="nav::nav1"></belumLogin>
			</div>
		<!-- Main Header -->
		</header>
	    <!--Gambar-->
	    <div class="charity-banner">
	        <div class="charity-banner-layer">
	            <span class="charity-banner-transparent"></span>
	            <img src="extra-images/slide1.jpg" alt="">
	            <div class="charity-banner-caption">
	                <div class="container">
	                    <h1>Raih Mimpi.org  <span class="charity-color">Support People</span></h1>
	                    <div class="clearfix"></div>
	                    <p>Membantu meningkatkan dan mengembangkan ekonomi masyarakat</p>
	                    <div class="clearfix"></div>
	                    <a href="#">Baca Selengkapnya</a>
	                    <a href="#">Seponsor Sekarang</a>
	                </div>
	            </div>
	        </div>
	        <div class="charity-banner-layer">
	            <span class="charity-banner-transparent"></span>
	            <img src="extra-images/slide2.jpg" alt="">
	            <div class="charity-banner-caption align-left-caption">
	                <div class="container">
	                    <h1>Raih Mimpi.org  <span class="charity-color">Support People</span></h1>
	                    <div class="clearfix"></div>
	                    <p>Membantu meningkatkan dan mengembangkan ekonomi masyarakat</p>
	                    <div class="clearfix"></div>
	                    <a href="#">Baca Selengkapnya</a>
	                    <a href="#">Seponsor Sekarang</a>
	                </div>
	            </div>
	        </div>
	    </div>
	
	<!-- Penjelasan  -->
	        <div class="charity-main-section" >
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="charity-fancy-title">
	                            <br>
	                            <h2>RAIH MIMPI</h2>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <figure class="short-text-thumb"><img src="images/Logo-rm.png" alt="" class="gambarawal"></figure>
	                    </div>
	                    <div class="col-md-6 charity-short-text">
	                        <h5><p>Raih Mimpi merupakan lembaga nirlaba bidang kesehatan yang memiliki spesialisasi pada program wirausaha sosial kesehatan dan peningkatan kapasitas para pelaku pemberdayaan kesehatan</p></h5>
	                        
	                        <p>Yang Mempunyai MISI</p>
	                        <ul>
	                            <li>List 1</li>
	                            <li>list 2</li>
	                            <li>list 3</li>
	                        </ul>
	                        <a href="#" class="charity-more-btn"><i class="fas fa-arrow-right"></i>Baca Selengkapnya</a>
	                    </div>
	                 </div>
	              </div>
	           </div>
	                    
<!-- Progress  -->
		       <div class="charity-main-section charity_counter_full">
		           <span class="black-transparent"></span>
			        <div class="container">
			        	<div class="row">
			            	<div class="col-md-12">
			                	<div class="charity-counter" id="counter">
			                    	<ul class="row">
			                        	<li class="col-md-2">
			                            	<i class="icon-donation2 bgcolor"></i>
		                                   	<span class="counter-value" th:data-count="${s}"></span>
		                                   	<small>Sponsor</small>
		                               </li>
		                               <li class="col-md-2">
		                                   	<i class="icon-ribbon bgcolor"></i>
		                                   	<span class="counter-value" th:data-count="${k1}"></span>
		                                   	<small>Pendidikan</small>
		                               </li>
		                               <li class="col-md-2">
		                                   	<i class="icon-mortarboard bgcolor"></i>
		                                   	<span class="counter-value" th:data-count="${k2}"></span>
		                                   	<small>Masyarakat</small>
		                               </li>
		                               <li class="col-md-2">
		                                   	<i class="icon-help bgcolor"></i>
		                                   	<span class="counter-value" th:data-count="${k3}"></span>
		                                   	<small>Ekonomi</small>
		                               </li>
		                           	   <li class="col-md-2">
		                                   	<i class="icon-mortarboard bgcolor"></i>
		                                   	<span class="counter-value" th:data-count="${k4}"></span>
		                                   	<small>Sosial</small>
		                               </li>
		                               <li class="col-md-2">
		                                   	<i class="icon-help bgcolor"></i>
		                                   	<span class="counter-value" th:data-count="${k5}"></span>
		                                   	<small>Lingkungan</small>
		                               </li>
		                           </ul>
		                       </div>
		                   </div>
		               </div>
		           </div>
		       </div>           
		       
	<!--Proyek Terakhir -->
       <div class="charity-main-section latest_causes_full">
           <div class="container ">
               <div class="row">
                   <div class="col-md-12">
                       <div class="charity-fancy-title">
                      	  <h2>PROYEK</h2>
	                        </div>
	                           <div class="charity-causes charity-cause-grid">
		                            <ul class="row">
										<li class="col-md-4" th:each="proyek, iterStat:${listproyek}" >
		                                    <figure><a href="#"><img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(proyek.getFotoUtamaProyek().foto)}}"
		                                    alt="foto proyek" class="img"></a>
												<a th:href="@{proyek-detail(id=${proyek.id})}"  class="charity-caption-btn"><span>View Detail</span></a>
		                                    </figure>
		                                    <!--Buat Presentase -->
		                                    <div th:if="${proyek.getPersentaseDana()}<100" th:data-width="${proyek.getPersentaseDana()}" data-target='100' class="charity-cause-progressbar"></div>
		                                    <div th:if="${proyek.getPersentaseDana()}>100" data-width="100" data-target='100' class="charity-cause-progressbar"></div>		                                    <div class="charity-cause-grid-text">
		                                        <span class="charity-cause-raised">Raised <br> <strong th:text="${'Rp ' + #numbers.formatDecimal(proyek.totalDana, 0, 'COMMA', 2, 'POINT')}"></strong></span>
		                                        <small class="charity-cause-raised">Goal <br> <strong th:text="${'Rp ' + #numbers.formatDecimal(proyek.targetDana, 0, 'COMMA', 2, 'POINT')}"></strong></small>
		                                        <div class="clearfix"></div>
		                                        <h2><a href="#" th:text="${proyek.namaProyek}"></a></h2>
		                                        <h5 th:text="${proyek.pengguna.nama}"></h5>
		                                        <a th:data-namaproyek="${proyek.namaProyek}" class="charity-more-btn" href="#my_modal" data-toggle="modal" ><i class="fas fa-arsrow-right"></i> Sponsor Now</a>
		                                    </div>								                                    	
		                                </li>
		                                <li class="col-md-4" th:each="proyek, iterStat:${listproyek1}" >
		                                    <figure><a href="#"><img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(proyek.getFotoUtamaProyek().foto)}}"
		                                    alt="foto proyek" class="img"></a>
												<a th:href="@{proyek-detail(id=${proyek.id})}"  class="charity-caption-btn"><span>View Detail</span></a>
		                                    </figure>
		                                    <!--Buat Presentase -->
		                                    <div th:if="${proyek.getPersentaseDana()}<100" th:data-width="${proyek.getPersentaseDana()}" data-target='100' class="charity-cause-progressbar"></div>
		                                    <div th:if="${proyek.getPersentaseDana()}>100" data-width="100" data-target='100' class="charity-cause-progressbar"></div>		                                    <div class="charity-cause-grid-text">
		                                        <span class="charity-cause-raised">Raised <br> <strong th:text="${'Rp ' + #numbers.formatDecimal(proyek.totalDana, 0, 'COMMA', 2, 'POINT')}"></strong></span>
		                                        <small class="charity-cause-raised">Goal <br> <strong th:text="${'Rp ' + #numbers.formatDecimal(proyek.targetDana, 0, 'COMMA', 2, 'POINT')}"></strong></small>
		                                        <div class="clearfix"></div>
		                                        <h2><a href="#" th:text="${proyek.namaProyek}"></a></h2>
		                                        <h5 th:text="${proyek.pengguna.nama}"></h5>
		                                        <a th:data-namaproyek="${proyek.namaProyek}" class="charity-more-btn" href="#my_modal" data-toggle="modal" ><i class="fas fa-arsrow-right"></i> Sponsor Now</a>
		                                    </div>								                                    	
		                                </li>	                                
				                    </ul>
	            	            </div>
			                
			                   <div class="charity-loadbtn"><a href="all-proyek">LIHAT SEMUA </a></div>
			                </div>
			             </div>
			          </div>
			       </div>
    <!-- Footer -->
	    <footer th:replace="footer::foot"></footer>
    <!-- Footer -->
	</div>
	<!-- Modal -->
	<modalSponsor th:replace="modal::modalSponsor"></modalSponsor> 
	<!-- Modal -->
</body>
    <jQuery th:replace="script::jQuery"></jQuery>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekLogin th:replace="script::cekLogin"></cekLogin>	
	<cekAkun th:replace="script::cekAkun"></cekAkun>
	<modalSponsor th:replace="script::modalSponsor"></modalSponsor>	
	


<!-- Mirrored from ritetags.com/html/charity/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:13:42 GMT -->
</html>