<!doctype html>
<html xmlns:th="http://thymeleaf.org">

<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>
    <css th:replace="link::header-css"></css>
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
	    <header id="charity-header" class="charity-header-one">
	    <!-- Header -->
		    <!-- Main Header -->
				<belumLogin th:replace="nav::nav1"></belumLogin>
	   		<!-- Main Header -->
		</header>
	    <!--Gambar-->
	    <div class="charity-banner">
	        <div class="charity-banner-layer">
	            <span class="charity-banner-transparent"></span>
	            <img src="extra-images/slide1.jpg" alt="">
	            <div class="charity-banner-caption">
	                <div class="container">
	                    <h1>Raih Mimpi.org  <span class="charity-color">Support People</span></h1>
	                    <div class="clearfix"></div>
	                    <p>Membantu meningkatkan dan mengembangkan ekonomi masyarakat</p>
	                    <div class="clearfix"></div>
	                    <a href="#">Baca Selengkapnya</a>
	                    <a href="#">Seponsor Sekarang</a>
	                </div>
	            </div>
	        </div>
	        <div class="charity-banner-layer">
	            <span class="charity-banner-transparent"></span>
	            <img src="extra-images/slide2.jpg" alt="">
	            <div class="charity-banner-caption align-left-caption">
	                <div class="container">
	                    <h1>Raih Mimpi.org  <span class="charity-color">Support People</span></h1>
	                    <div class="clearfix"></div>
	                    <p>Membantu meningkatkan dan mengembangkan ekonomi masyarakat</p>
	                    <div class="clearfix"></div>
	                    <a href="#">Baca Selengkapnya</a>
	                    <a href="#">Seponsor Sekarang</a>
	                </div>
	            </div>
	        </div>
	    </div>
	
	<!-- Penjelasan  -->
	        <div class="charity-main-section" >
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="charity-fancy-title">
	                            <br>
	                            <h2>RAIH MIMPI</h2>
	                        </div>
	                    </div>
	                    <div class="col-md-6">
	                        <figure class="short-text-thumb"><img src="images/Logo-rm.png" alt="" class="gambarawal"></figure>
	                    </div>
	                    <div class="col-md-6 charity-short-text">
	                        <h5><p>Raih Mimpi merupakan lembaga nirlaba bidang kesehatan yang memiliki spesialisasi pada program wirausaha sosial kesehatan dan peningkatan kapasitas para pelaku pemberdayaan kesehatan</p></h5>
	                        
	                        <p>Yang Mempunyai MISI</p>
	                        <ul>
	                            <li>List 1</li>
	                            <li>list 2</li>
	                            <li>list 3</li>
	                        </ul>
	                        <a href="#" class="charity-more-btn"><i class="fas fa-arrow-right"></i>Baca Selengkapnya</a>
	                    </div>
	                 </div>
	              </div>
	           </div>
	                    
<!-- Progress  -->
		       <div class="charity-main-section charity_counter_full">
		           <span class="black-transparent"></span>
			          <div class="container">
			              <div class="row">
			                  <div class="col-md-12">
			                      <div class="charity-counter" id="counter">
			                          <ul class="row">
			                              <li class="col-md-3">
			                                  <i class="icon-donation2 bgcolor"></i>
		                                   <span class="counter-value" data-count="5012">0</span>
		                                   <small>Sponsor</small>
		                               </li>
		                               <li class="col-md-3">
		                                   <i class="icon-ribbon bgcolor"></i>
		                                   <span class="counter-value" data-count="60574">0</span>
		                                   <small>Kesehatan</small>
		                               </li>
		                               <li class="col-md-3">
		                                   <i class="icon-mortarboard bgcolor"></i>
		                                   <span class="counter-value" data-count="30047">0</span>
		                                   <small>Pendidikan</small>
		                               </li>
		                               <li class="col-md-3">
		                                   <i class="icon-help bgcolor"></i>
		                                   <span class="counter-value" data-count="7814">0</span>
		                                   <small>Masyarakat</small>
		                               </li>
		                           </ul>
		                       </div>
		                   </div>
		               </div>
		           </div>
		       </div>           
		       
	       <div class="charity-main-section" >
                <div class="container-fluid">
                    <div class="row">
                       <div class="col-md-12">
                            <div class="charity-services charity-simple-services">
                                <ul class="row">
                                    <li class= "col-md-1"> 
                                    </li>
                                    <li class="col-md-2">
                                        <i class="fas fa-book charity-color1">
                                        	<div class="charity-simple-services-text">
                                            <h2 style="text-align: center;">Pendidikan</h2>
                                       </div>
                                        </i>
                                    </li>
                                    <li class="col-md-2">
                                        <i class="fas fa-heart charity-color1">
                                       		<div class="charity-simple-services-text">
                                            	<h2 style="text-align: center;">Masyarakat</h2>
                                       		</div>
                                        </i>                                       
                                    </li>
                                    <li class="col-md-2">
                                        <i class="fas fa-users charity-color1">
                                        	<div class="charity-simple-services-text">
                                            	<h2 style="text-align: center;">Ekonomi</h2>
                                        	</div>
                                        </i>
                                    </li>
                                    <li class="col-md-2">
	                                    <div>
	                                    	<i class="fas fa-users charity-color1">
	                                        	<div class="charity-simple-services-text">
	                                            <h2 style="text-align: center;">Sosial</h2>
	                                        </div>
	                                        </i>
	                                    </div>
                                    </li>
                                    <li class="col-md-2">
                                        <i class="fas fa-users charity-color1">
                                        	<div class="charity-simple-services-text">
                                            <h2 style="text-align: center;">Lingkungan</h2>
                                        </div>
                                        </i>
                                    </li>
                                    <li class= "col-md-1"> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                  <!--       <div class="col-md-1 charity111"></div>
                        <div class="col-md-2 charity11">
                        	<div class="charity111">
                        		<div>
                        			<i class="fas fa-users charity123"></i>
                        		</div>
                        		<div>
                        			<h2>Lingkungan</h2>
                        		</div>
                        		
                        	</div>
                        </div>
                        <div class="col-md-2 charity11">
                        	<div class="charity111">
                        		<div>
                        			<i class="fas fa-users charity123"></i>
                        		</div>
                        		<div>
                        			<h2>Lingkungan</h2>
                        		</div>
                        		
                        	</div>
                        	
                        </div>
                        <div class="col-md-2 charity11">
                        	<div class="charity111">
                        		<div>
                        			<i class="fas fa-users charity123"></i>
                        		</div>
                        		<div>
                        			<h2>Lingkungan</h2>
                        		</div>
                        		
                        	</div>
                        	
                        </div>
                        <div class="col-md-2 charity11">
                        <div class="charity111">
                        		<div>
                        			<i class="fas fa-users charity123"></i>
                        		</div>
                        		<div>
                        			<h2>Lingkungan</h2>
                        		</div>
                        		
                        	</div>
                        
                        </div>
                        <div class="col-md-2 charity11">
                        <div class="charity111">
                        		<div>
                        			<i class="fas fa-users charity123"></i>
                        		</div>
                        		<div>
                        			<h2>Lingkungan</h2>
                        		</div>
                        		
                        	</div>
                        
                        </div>
                        <div class="col-md-1 charity111"></div> -->
                    </div>
                 </div>
             </div>
             
	<!--Proyek Terakhir -->
       <div class="charity-main-section latest_causes_full">
           <div class="container ">
               <div class="row">
                   <div class="col-md-12">
                       <div class="charity-fancy-title">
                      	  <h2>PROYEK</h2>
	                        </div>
	                           <div class="charity-causes charity-cause-grid">
		                            <ul class="row">
	                                <li class="col-md-4">
	                                    <figure><a href="proyek-detail"><img src="extra-images/pendidikan.jpg" alt="" class="img"></a>
	                                        <figcaption><a href="proyek-detail" class="charity-cause-grid-hover"><i class="fa fa-users"></i> 21 Donors</a></figcaption>
	                                    </figure>
	                                    <div data-width='80' data-target='100' class="charity-cause-progressbar"></div>
	                                    <div class="charity-cause-grid-text">
	                                        <span class="charity-cause-raised">Raised <br> <strong>$2000</strong></span>
	                                        <small class="charity-cause-raised">Goal <br> <strong>$5000</strong></small>
	                                        <div class="clearfix"></div>
	                                        <h2><a href="proyek-detail">Pendidikan</a></h2>
	                                        <p>Deskripsi Singkat Proyek yang di lakukan</p>
	                                        <a href="login.html" class="charity-more-btn"><i class="fas fa-arrow-right"></i> Sponsor</a>
	                                    </div>
	                                </li>
	                                <li class="col-md-4">
	                                    <figure><a href="proyek-detail"><img src="extra-images/masyarakat.jpg" alt="" class="img"></a>
	                                        <figcaption><a href="proyek-detail" class="charity-cause-grid-hover"><i class="fa fa-users"></i> 21 Donors</a></figcaption>
	                                    </figure>
	                                    <div data-width='60' data-target='100' class="charity-cause-progressbar"></div>
	                                    <div class="charity-cause-grid-text">
	                                        <span class="charity-cause-raised">Raised <br> <strong>$1000</strong></span>
	                                        <small class="charity-cause-raised">Goal <br> <strong>$3000</strong></small>
	                                        <div class="clearfix"></div>
	                                        <h2><a href="proyek-detail">Masyarakat</a></h2>
	                                        <p>Deskripsi Singkat Proyek yang di lakukan</p>
	                                        <a href="login.html" class="charity-more-btn"><i class="fas fa-arrow-right"></i>Sponsor</a>
	                                    </div>
	                                </li>
	                                <li class="col-md-4">
	                                    <figure><a href="proyek-detail"><img src="extra-images/kesehatan.jpg" alt="" class="img"></a>
	                                        <figcaption><a href="proyek-detail" class="charity-cause-grid-hover"><i class="fa fa-users"></i> 21 Donors</a></figcaption>
	                                    </figure>
	                                    <div data-width='45' data-target='100' class="charity-cause-progressbar"></div>
	                                    <div class="charity-cause-grid-text">
	                                        <span class="charity-cause-raised">Raised <br> <strong>$7000</strong></span>
	                                        <small class="charity-cause-raised">Goal <br> <strong>$9000</strong></small>
	                                        <div class="clearfix"></div>
	                                        <h2><a href="proyek-detail">Kesehatan</a></h2>
	                                        <p>Deskipsi Singkat Proyek yang di lakukan </p>
	                                        <a href="login.html" class="charity-more-btn"><i class="fas fa-arrow-right"></i>Sponosr</a>
	                                    </div>
	                                </li>
	                                <li class="col-md-4">
	                                    <figure><a href="proyek-detail"><img src="extra-images/pendidikan.jpg" alt="" class="img"></a>
	                                        <figcaption><a href="proyek-detail" class="charity-cause-grid-hover"><i class="fa fa-users"></i> 21 Donors</a></figcaption>
	                                    </figure>
	                                    <div data-width='80' data-target='100' class="charity-cause-progressbar"></div>
	                                    <div class="charity-cause-grid-text">
	                                        <span class="charity-cause-raised">Raised <br> <strong>$2000</strong></span>
	                                        <small class="charity-cause-raised">Goal <br> <strong>$5000</strong></small>
	                                        <div class="clearfix"></div>
	                                        <h2><a href="proyek-detail">Pendidikan</a></h2>
	                                        <p>Deskripsi Singkat Proyek yang di lakukan</p>
	                                        <a href="login.html" class="charity-more-btn"><i class="fas fa-arrow-right"></i> Sponsor</a>
	                                    </div>
	                                </li>
	                                <li class="col-md-4">
	                                    <figure><a href="proyek-detail"><img src="extra-images/masyarakat.jpg" alt="" class="img"></a>
	                                        <figcaption><a href="proyek-detail" class="charity-cause-grid-hover"><i class="fa fa-users"></i> 21 Donors</a></figcaption>
	                                    </figure>
	                                    <div data-width='60' data-target='100' class="charity-cause-progressbar"></div>
	                                    <div class="charity-cause-grid-text">
	                                        <span class="charity-cause-raised">Raised <br> <strong>$1000</strong></span>
	                                        <small class="charity-cause-raised">Goal <br> <strong>$3000</strong></small>
	                                        <div class="clearfix"></div>
	                                        <h2><a href="proyek-detail">Masyarakat</a></h2>
	                                        <p>Deskripsi Singkat Proyek yang di lakukan</p>
	                                        <a href="login.html" class="charity-more-btn"><i class="fas fa-arrow-right"></i>Sponsor</a>
	                                    </div>
	                                </li>
	                                <li class="col-md-4">
	                                    <figure><a href="proyek-detail"><img src="extra-images/kesehatan.jpg" alt="" class="img"></a>
	                                        <figcaption><a href="proyek-detail" class="charity-cause-grid-hover"><i class="fa fa-users"></i> 21 Donors</a></figcaption>
	                                    </figure>
	                                    <div data-width='45' data-target='100' class="charity-cause-progressbar"></div>
	                                    <div class="charity-cause-grid-text">
	                                        <span class="charity-cause-raised">Raised <br> <strong>$7000</strong></span>
	                                        <small class="charity-cause-raised">Goal <br> <strong>$9000</strong></small>
	                                        <div class="clearfix"></div>
	                                        <h2><a href="proyek-detail">Kesehatan</a></h2>
	                                        <p>Deskipsi Singkat Proyek yang di lakukan </p>
	                                        <a href="login.html" class="charity-more-btn"><i class="fas fa-arrow-right"></i>Sponosr</a>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
			                
			                   <div class="charity-loadbtn"><a href="kategori">LIHAT SEMUA </a></div>
			                </div>
			             </div>
			          </div>
			       </div>
				
	    <!-- Footer -->
		    <!-- Footer -->
	    <footer th:replace="footer::foot"></footer>
	    <!-- Footer -->
	    
	    <!-- Search Modal -->
	    <searching th:replace="modal::search"></searching>
	    <!-- jQuery -->
	    <manyscript th:replace="script::ms"></manyscript>
		<script7 th:replace="script::autocomplete"></script7>
		<script9 th:replace="script::ajaxauto"></script9>
		<script13 th:replace="script::loader"></script13>	
	</div>
</body>


<!-- Mirrored from ritetags.com/html/charity/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:13:42 GMT -->
</html>