<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Insert title here</title>
    <css th:fragment="header-css">
	    <link rel="stylesheet" href="css/bootstrap.css">
	    <link rel="stylesheet" href="css/fontawesome-all.css">
	    <link rel="stylesheet" href="css/flaticon.css">   
	    <link rel="stylesheet" href="css/slick-slider.css">
	    <link rel="stylesheet" href="css/fancybox.css">
	    <link href="css/jplayer.css" rel="stylesheet">
	    <link rel="stylesheet" href="css/style.css">
	    <link rel="stylesheet" href="css/color.css">
	    <link rel="stylesheet" href="css/responsive.css">		
        <link rel="stylesheet" href="css/util.css">            
	</css>
	
	<date th:fragment="date">
		<link href="css/editor.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
	</date>
	
	<editor th:fragment="editor">
		<link href="css/editor.css" type="text/css" rel="stylesheet"/>		
	</editor>
	
	<page th:fragment="page">
		<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/jquery.paginate.css" />
	</page>
	
	<bar th:fragment="bar">
		<link rel="stylesheet" href="css/jquery-ui.css">
	</bar>
	
	
</head>
<body>
	
</body>
</html>