<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>

    <!-- CSS -->
	    <css th:replace="link::header-css"></css>
	    <link rel="stylesheet" href="css/style.css">	    
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
			<belumLogin th:replace="nav::nav1"></belumLogin>
   		<!-- Main Header -->
    </header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader">
        <span class="black-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Login</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->

    <!-- Content -->
        <div class="charity-main-section">
            <div class="container">
                <div class="row charity-login-wrap">
                    <div class="col-md-6 charity-login">
                        <div class="widget_title m-t-10"><h2>Sign In</h2></div>
                            <p>Welcome back, Sign in your account</p>
                        <form method="post" class="m-b-30" th:action="@{/home}">
                            <div>
                                <label class="m-t-15"><b>USERNAME</b></label>
                                <input class="m-b-10" placeholder="username" name="username" type="text" value="" data-default="Name*" size="50" required>
                            </div>
                            <div>
                                <label class="m-t-15"><b>PASSWORD</b></label>
                                <input placeholder="password" name="password" type="password" value="" data-default="Name*" size="50" required>
                            </div>
                            <div class="charity-login-forget m-t-10" >
                                <a href="forget-password">forgotten password</a>
                            </div>
                            <div class="charity-btn-profil m-l-150">
                                <button class="charity-btn-profil-save" type="submit"><b>Sign In</b></button>
                            </div>                        
                        </form>
                        <span class="charity-or"><strong>OR</strong></span> 
                    </div>
                    <div class="col-md-6 charity-register p-l-50">
                        <div class="widget_title m-t-10"><h2>Create New Account</h2></div>
                             <p>Let's Join Us!!</p>
                        <form method="post" class="m-b-30" th:action="verifikasiakun">
							<div>
								<div class="alert alert-info info">
									<span class="p-l-10 p-b-8" id="validateuser" style="width: 100%"></span>
									<div class="alert-close">×</div>
								</div>
                                <label class="m-t-5"><b>USERNAME</b></label>
                                <input id="username1" class="m-b-10" placeholder="username" name="username1" type="text" size="50" required/>
                            	<div ></div>
                            </div>
                            <div>
								<div class="alert alert-info info1">
									<span class="p-l-10 p-b-8" id="validatemail" style="width: 100%"></span>
									<div class="alert-close">×</div>
								</div>                            
                                <label class="m-t-5"><b>EMAIL</b></label>
                                <input id="email" class="m-b-10" placeholder="email" name="email1" type="email" size="50" required/>
                            </div>
                            <div>
                                <input type="checkbox" class="m-t-10" name="term" required/>
                                <span>
                                     I agree to the
                                     <a href="terms-of-user"> Terms of User</a>
                                </span>
                            </div>
                            <div class="charity-btn-profil m-l-150">
                                <button id="myBtn" class="charity-btn-profil-save" type="submit"><b>Sign Up</b></button>
                            </div>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Content -->
  <!-- Footer -->
	    <!-- Footer -->
    <footer th:replace="footer::foot"></footer>
    <!-- Footer -->
	</div>
</body>
	<script src="script/jquery-1.12.4.js"></script>
  	<script src="script/jquery-ui.js"></script>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekLogin th:replace="script::cekLogin"></cekLogin>	
    <samePassword th:replace="script::samePassword"></samePassword>
	<checkUsername th:replace="script::checkUsername"></checkUsername> 
	<checkEmail th:replace="script::checkEmail"></checkEmail> 

<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>


