<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<image th:fragment="modalimage">
	<div id="myModal" class="modal">
	  <span class="close cursor" onclick="closeModal()">&times;</span>
	  <div class="modal-content">
	
	    <div class="mySlides" th:each="foto,iterStat:${listfoto}">
	      <div class="numbertext">1 / 4</div>
	      <img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(foto.foto)}}"  
	      style="width:100%">
	    </div>
	    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	    <a class="next" onclick="plusSlides(1)">&#10095;</a>
	
	    <div class="caption-container">
	      <p id="caption"></p>
	    </div>
	
	
	    <div class="column" th:each="foto,iterStat:${listfoto}">
	      <img class="demo cursor" th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(foto.foto)}}" 
	      style="width:100%" onclick="currentSlide(1)" alt="Nature and sunrise">
	    </div>
	  </div>
	</div>	
</image>

<modalSponsor th:fragment="modalSponsor">
	<div class="modal hide" id="my_modal" role="dialog">
	    <div class="modal-dialog modal-lg">	      
	      <div class="modal-content modal-sponsor">
	        <div class="modal-header" style="height: 55px;">
	        	<h4> YUK GABUNG!!</h4>
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	        <form method="post" action="/detailsponsor">
	        <div class="modal-body">
			  	<h4 id="textjudul" style="float:left;"></h4>
				<input type="hidden" name="namap" id="textjudul1" value=""/>	           	        
	           		<div th:if="${penggunaAktif} == null" class="row charity-profil-text p-t-10">
	           			<b>Anda Belum Login, Silahkan <span><a href="login" style="color:orange;">Login</a></span> atau berikan Sponsor tanpa login terlebih dahulu </b>
                    </div>
                    <div th:if="${penggunaAktif} == null" class="row charity-profil-text p-t-10">
	                     <div class="widget_title_n m-t-10"><b>Username</b></div>
	                     <div class="col-md-8 charity-profil-input" style="width: 100%;" >
	                     	<input type="text" name="username" style="width: 100%;" required />
	                     </div>
	                 </div>
	                 <div th:if="${penggunaAktif} == null" class="row charity-profil-text p-t-10">
	                     <div class="widget_title_n m-t-10"><b>Email</b></div>
	                     <div class="col-md-8 charity-profil-input" style="width: 100%;" >
	                     	<input type="text" name="email" style="width: 100%;" required />
	                     </div>
	                 </div>
	                <div class="row charity-profil-text p-t-10">
	                     <div class="widget_title_n m-t-10"><b>Nominal</b></div>
	                     <div class="col-md-8 charity-profil-input" style="width: 100%;" ><input type="text" name="jumlahSponsorFormatted" style="width: 100%;" id="currency" required onkeyup="displayTanpaRp()" />
							<input type="hidden" name="jumlahSponsor" style="width: 100%" id="jmlSponsor" />
	                     </div>
					        <input th:if="${penggunaAktif} != null"  type="hidden" name="username" th:value="${penggunaAktif.username}"/>	                  	 	         
	                     	<input class="m-l-190" id="anonim" name="anonim" value="anonim" type="checkbox"/> Anonim
	                 </div>
	                 <div class="row charity-profil-text">
	                     <div class="widget_title_b m-t-10"><b>Metode Pembayaran</b></div>
	                     <div class="col-md-8 charity-profil-input"><select name="bank"  id="selectTujuan" style="width: 100%" onchange="displaytransfer()">
	                     	<option th:each="bank, iterStat:${listbank}"
	         				th:value="${bank.id}" th:text="${bank.namaBank}">
	    					</option></select>
                     	</div>
                     </div>                        
	        </div>
	        <div class="modal-footer">
            	<button class="charity-btn-profil-save p-l-5 p-r-5" type="submit"><b>Save</b></button>	
                <span><button type="button" class="charity-btn-profil-save p-l-5 p-r-5" data-dismiss="modal">Close</button></span>
	        </div>
	        </form>
	   </div>   
    </div>
  </div>

</modalSponsor>

</body>
</html>