<!doctype html>
<html xmlns:th="http://thymeleaf.org">


<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Raih Mimpi</title>

    <!-- CSS -->
    	<css th:replace="link::header-css"></css>
	    <link rel="stylesheet" href="css/style-modal.css">
        <bar th:replace="link::bar"></bar>
    
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
		<div th:if="${penggunaAktif} == null">
			<belumLogin th:replace="nav::nav1"></belumLogin>
		</div>
		<div th:if="${penggunaAktif} != null">
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
	    </div>    	    
   		<!-- Main Header -->
	</header>
    <!-- Header -->

<!-- Banner -->
    <div class="charity-subheader">
        <span class="black-transparent"></span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 th:text="${proyek.namaProyek}"></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->

    <!-- Content -->
    <div class="charity-main-content">

        <!-- Main Section -->
        <div class="charity-main-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="charity-rich-editor charity-cause-detail">
                            <figure class="charity-cause-thumb"><img alt="foto proyek"
                            th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(photo)}}"></figure>
                            <ul class="charity-event-option-two">
                                <li>
                                    <i class="fa fa-calendar"></i>
                                    <h6>Project Sechudule:</h6>
                                    <p>
                                    <span th:text="${#dates.dayOfWeekName(proyek.createDate)}"></span>
                                    <span>,</span>
                                    <span th:text="${#dates.format(proyek.createDate,'dd')}"></span>
                                    <span th:text="${#dates.monthNameShort(proyek.createDate)}"></span>
                                    <span th:text="${#dates.format(proyek.createDate,'yyyy')}"></span>
                                    To 
                                    <span th:text="${#dates.dayOfWeekName(proyek.tanggalBerakhir)}"></span>
                                    <span>,</span>
                                    <span th:text="${#dates.format(proyek.tanggalBerakhir,'dd/MM/yyyy')}"></span>
                                	</p>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker-alt"></i>
                                    <h6>Location:</h6>
                                    <p th:text="${proyek.wilayah.namaWilayah}"></p>
                                </li>
                            </ul>
                            <div class="row charity-countdown">
                                <span class="countdown-transparent"></span>
                                <input id="date1" type="text" th:value="${proyek.tanggalBerakhir}"/>
                                <div class="col-md-2 charitycountdown p-l-20">
    	                            <span id="day" style="font-size: 40px;"></span></br>
    	                            <span style="font-size: 20px;">Days</span>
                                </div>
                                <div class="col-md-2 charitycountdown">
                                	<span id="hour" style="font-size: 40px;"></span></br>
                                	<span style="font-size: 20px;">Hours</span>
                                </div>
                                <div class="col-md-2 charitycountdown">
                                	<span id="minute" style="font-size: 40px;"></span></br>
                                	<span style="font-size: 20px;">Minutes</span>
                                </div>
                                <div class="col-md-2 charitycountdown">
                                	<span id="second" style="font-size: 40px;"></span></br>
                                	<span style="font-size: 20px;">Seconds</span>
                                </div>
                                <div class="col-md-3">
	                                <a th:href="#"  th:if="${penggunaAktif} == null" class="charity-join-btn">I Am Joining (<span th:text=${jumlahSponsor}></span><span> )</span></a>
                                </div>
                             </div>
                            <div class="charity-cause-donate">
                                <div class="skillst">
                                    <h6>Raised: <span th:text="${'Rp ' + #numbers.formatDecimal(proyek.totalDana, 0, 'COMMA', 2, 'POINT')}"></span></h6>
                                    <h6 class="skillst-right">Goal: <span th:text="${'Rp ' + #numbers.formatDecimal(proyek.targetDana, 0, 'COMMA', 2, 'POINT')}"></span></h6>
                                </div>
                                 <!--Buat Presentase -->
                                 <div th:if="${proyek.getPersentaseDana()}<100" th:data-width="${proyek.getPersentaseDana()}" data-target='100' class="charity-cause-progressbar"></div>
                                 <div th:if="${proyek.getPersentaseDana()}>100" data-width="100" data-target='100' class="charity-cause-progressbar"></div>                                <a th:data-namaproyek="${proyek.namaProyek}"  href="#my_modal" data-toggle="modal"  class="charity-plan-btn">Sponsor Now <i class="fa fa-heart"></i></a>
                                <ul class="charity-cause-social">
                                   <li><a href="https://www.facebook.com/" class="fab fa-facebook"></a></li>
                                    <li><a href="https://www.twitter.com/" class="fab fa-twitter"></a></li>
                                    <li><a href="https://www.linkedin.com/" class="fab fa-linkedin"></a></li>
                                    <li><a href="https://www.youtube.com/" class="fab fa-youtube"></a></li>
                                    <li><a href="https://www.vimeo.com/" class="fab fa-vimeo"></a></li>
                                </ul>
                            </div>
                            <div class="widget_title"><h2>Event Description</h2></div>
                                <blockquote th:text="${proyek.deskripsiSingkat}"></blockquote>
                                <p th:text="${proyek.deskripsiLengkap}"></p>
                          </div>
                          <div th:each="video,iterStat:${listvideo}">
                           		<span>Video :</span><p th:text="${video.linkVideo}"></p>
                          </div>
                        <div class="widget_title"><h2>Proyek Gallery</h2></div>
                        <div class="charity-event-gallery">
                             <ul>
                                <li th:each="foto,iterStat:${listfoto}">
                                <a data-fancybox="gallery" th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(foto.foto)}}"  class="fancybox">
                                <img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(foto.foto)}}" alt="">
                                <i class="icon-add2"></i></a></li>
	                       </ul>
                        </div>
<!--                         <div class="widget_title"><h2>Proyek Gallery</h2></div>
                        <div class="row charity-event-gallery">
							  <div class="column" th:each="foto,iterStat:${listfoto}">
							    <img th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(foto.foto)}}" 
							    style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
							  </div>
						</div>                        
  --> 
                        <div class="widget_title"><h2>Creator</h2></div>
                        <div class="row charity-admin-post">
                            <div class="col-md-2">
	                            <figure>
	                                <img alt="avatar" th:if="${proyek.pengguna.fotoProfil} == null" th:src="@{images/index.png}" class="avatar">                                
	                                <img alt="avatar" th:if="${proyek.pengguna.fotoProfil} != null"
	                          	    th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(proyek.pengguna.fotoProfil)}}" class="avatar">
	                                <figcaption>
	                                    <h6 th:text="${proyek.pengguna.nama}"></h6>
	                                </figcaption>
	                            </figure>
                            </div>
                            <div class="charity-admin-post-text col-md-10">
                                <span th:text=${proyek.pengguna.biografi}></span>
                                <ul class="charity-admin-social">
                                    <li>
                                        <a href="https://www.facebook.com/" class="fab fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.vimeo.com/" class="fab fa-vine"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget_title"><h2>Comments</h2></div>
                        <div class="comments-area">
                            <!--// coments \\-->
                            <ul class="comment-list">
                                <li th:each="komentar, iterStat:${listkomentar}" >
                                    <div class="thumb-list">
                                        <figure>
                                        <img alt="foto profil" th:if="${komentar.pengguna.fotoProfil}== null"  
                                        th:src="@{images/index.png}"  >
                                        <img alt="foto profil" th:if="${komentar.pengguna.fotoProfil}!= null"  
                                        th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(komentar.pengguna.fotoProfil)}}" >
                                        </figure>
                                        <div class="text-holder">
                                            <h6 th:text=${komentar.pengguna.nama}></h6>
                                            <p th:text="${komentar.isiKomentar}"></p>
                                        </div>
                                    </div>
                                </li>
                                <!-- #comment-## -->
							</ul>
                            <!--// coments \\-->
                        </div>
                        <!--// comment-respond \\-->
                        <div class="widget_title"><h2>Leave a Comment</h2></div>
                        <div class="comment-respond" th:if="${penggunaAktif} == null" >
                        	<h6>Please login to leaving a comment</h6>
                        </div>
                        <div class="comment-respond" th:if="${penggunaAktif} != null">
                            <form method="post"  th:action="@{proyek-detail(id=${proyek.id})}">
                                <p class="charity-respond-full-form">
                                    <label>Comment:</label>
                                    <textarea name="isiKomentar" placeholder="Type your comment*" class="commenttextarea"></textarea>
                                </p>
                                <p class="form-submit">
                                    <input name="submit" class="submit" value="Submit" type="submit">
                                    <input name="comment_post_ID" value="99" id="comment_post_ID" type="hidden">
                                </p>
                            </form>
                        </div>
                        <!--// comment-respond \\-->
                    </div>
                    <aside class="col-md-3">

                       <div class="widget widget_events">
                            <div class="widget_title"><h2>Sponsor Proyek</h2></div>
                             <div class="cx4">
                                <ul>
                                    <li>
                                        <div class="thumb-list">
                                            <center th:each="s, iterStat:${listsponsor}" class="m-t-5">
                                                 <img th:if="${s.pengguna.fotoProfil} == null"  
                                                 th:src="@{images/index.png}" alt="Avatar" class="avatar">
                                                 <img th:if="${s.pengguna.fotoProfil} != null"
                                                 th:src="@{'data:image/jpg;base64,' + *{T(org.springframework.util.Base64Utils).encodeToString(s.pengguna.fotoProfil)}}" alt="Avatar" class="avatar">
                                                    <div class="text-holder">
                                                        <h6 th:text="${s.namaSponsor}"></h6>
                                                        <p id="dengan-rupiah"  th:text="${'Rp ' + #numbers.formatDecimal(s.jumlahSponsor, 0, 'COMMA', 2, 'POINT')}"></p>
                                                        <time class="post-date" th:text=${s.createDate}></time>
                                                    </div>
                                            </center>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget_events">
                            <div class="widget_title"><h2>Progres Proyek</h2></div>
                            <div class="cx3">
                                <ul>
                                <li th:each="pp, iterStat:${listprogresproyek}">
                                    <time ><div th:text="${#dates.format(pp.createDate,'dd')}"></div>
                                    <div th:text="${#dates.monthNameShort(pp.createDate)}"></div></time>
                                    <div class="charity-events">
                                       <h6><a th:href="@{proyek-update(id=${pp.id})}" th:text="${pp.judulProyek}"></a></h6>
                                       <a th:href="@{proyek-update(id=${pp.id})}" ><i class="fa fa-map-marker-alt"></i><span th:text="${pp.proyek.wilayah.namaWilayah}"></span></a>
                                    </div>
                                </li>
                             </ul>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
        <!-- Main Section -->

    </div>
    <!-- Content -->

	<!-- Footer -->
    	<footer th:replace="footer::foot"></footer>
    <!-- Footer -->
	</div>

  <!-- Modal -->
	<modalSponsor th:replace="modal::modalSponsor"></modalSponsor> 
  <!-- Modal -->

 </body>
    <jQuery th:replace="script::jQuery"></jQuery>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekLogin th:replace="script::cekLogin"></cekLogin>	
	<cekAkun th:replace="script::cekAkun"></cekAkun>
	<countdownTime th:replace="script::countdownTime"></countdownTime>
	<modalGallery th:replace="script::modalGallery"></modalGallery>
    <image th:replace="modal::modalimage"></image>
   	<modalSponsor th:replace="script::modalSponsor"></modalSponsor>	
    
    
<!-- Mirrored from ritetags.com/html/charity/cause-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:16:42 GMT -->
</html>