<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Overview</title>

    <!-- CSS -->
		<css th:replace="link::header-css"></css>
    	<link rel="stylesheet" href="css/style1.css">    
    <!-- CSS -->
</head>

<body onload="myFunction()" style="margin:0;" class="home">
	<div id="loader"></div>
	<div style="display:none;" id="myDiv" class="animate-bottom">
    <!-- Header -->
    <header id="charity-header" class="charity-header-one">
    <!-- Header -->
	    <!-- Main Header -->
	        <setelahLogin th:replace="nav::nav2"></setelahLogin>
   		<!-- Main Header -->

    </header>
    <!-- Header -->

    <!-- Banner -->
    <div class="charity-subheader" style="height: 275px;">
        <div class="black-transparent" style="height: 275px;"></div>
    </div>

	<dataProfil th:replace="nav::nav3"></dataProfil>

        <div class="charity-main-section m-t-10 m-b-20">
            <div class="container">
                <div class="row charity-profil-head">
                    <div class="col-md-2 md2">
                        <div>
                            <ul class="sidebar-menu" id="nav-accordion">
                               <li class="charity-list m-t-10 active"><a href="overview">Overview</a></li>
                                <li class="charity-list m-t-10"><a href="dashboard-proyek">Proyek</a></li>
                                <li class="charity-list"><a href="dashboard-update-proyek">Progres Proyek</a></li>
                                <li class="charity-list"><a href="dashboard-sponsor">Sponsor</a></li>
                                <li class="charity-list"><a href="dashboard-pencairan">Pencairan Dana</a></li>
                                <li class="charity-list"><a href="dashboard-profil">Edit Profil</a></li>
                                <li class="charity-list"><a href="dashboard-verifikasi">Verifikasi</a></li>
                                <li class="charity-list m-b-100"><a href="dashboard-password" >Ubah Password</a></li>
                           </ul>

                        </div>
                    </div>
                    <div class="col-md-10 charity-profil-bio">
                        <br>
                        <br>
                        <div id="menu" class="tab1 charity-navigation1">
						  <button class="tablinks active" onclick="openCity(event, 'overview')">Overview</button>
						  <button class="tablinks" onclick="openCity(event, 'laporansponsor')">Laporan Sponsor</button>
						  <button class="tablinks" onclick="openCity(event, 'laporanpencairan')">Laporan Pencairan</button>
						  <button class="tablinks" onclick="openCity(event, 'progresproyek')">Progres Proyek</button>
						</div>
						
		                  <div id="overview" class="tabcontent">
		                        <div class="thumb-list2">
		                                <div class="text-holder" >
		                                    <ul class="row">
		                                    <li class="col-md-6 charlist"><h6 class="h61">Nama Proyek</h6>
		                                        <br><br>
		                                        <div><h1>Rp.123456</h1></div>
		                                        <ul class="row">
		                                            <li class="col-md-12 charlist">
		                                                <li class="col-md-4 charlist">
		                                                     <h6> Mulai </h6>
		                                                     <ul class="row">
		                                                         <li class=" col-md-12 charlist1">
		                                                          <h6>0 </h6>
		                                                         </li>
		                                                     </ul>   
		                                                </li>
		                                                <li class="col-md-4 charlist">
		                                                    <h6>Berakir</h6>
		                                                    <ul class="row">
		                                                         <li class=" col-md-12 charlist1">
		                                                          <h6> 0 </h6>
		                                                         </li>
		                                                     </ul>      
		                                               </li>
		                                               
		                                                <li class="col-md-4 charlist">
		                                                    <h6>Sponsor</h6>
		                                                    <ul class="row">
		                                                         <li class=" col-md-12 charlist1">
		                                                          <h6> 0 </h6>
		                                                         </li>
		                                                     </ul>      
		                                                </li>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                    <li class="col-md-6 charlist">
		                                        <ul class="row">
		                                            <li class="col-md-1 charlist">
		                                                <div>
		                                                  <p class="charlist2"></p>  
		                                                </div>
		                                            </li>
		                                            <li class="col-md-11 charlist">
		                                                <h6 class="h62">Total Pencairan</h6>
		                                                <br>
		                                                <div><h1>Rp.123.456</h1></div>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                 </ul>
		                            </div>
		                        </div>
		                      </div>
		                      <div id="laporansponsor" class="tabcontent">
		                        <div class="thumb-list2">
		                                <div class="text-holder" >
		                                    <ul class="row">
		                                    <li class="col-md-6 charlist"><h6 class="h61">Namaaaaa Proyek</h6>
		                                        <br><br>
		                                        <div><h1>Rp.123456</h1></div>
		                                        <ul class="row">
		                                            <li class="col-md-12 charlist">
		                                                <li class="col-md-4 charlist">
		                                                     <h6> Mulai </h6>
		                                                     <ul class="row">
		                                                         <li class=" col-md-12 charlist1">
		                                                          <h6>0 </h6>
		                                                         </li>
		                                                     </ul>   
		                                                </li>
		                                                <li class="col-md-4 charlist">
		                                                    <h6>Berakir</h6>
		                                                    <ul class="row">
		                                                         <li class=" col-md-12 charlist1">
		                                                          <h6> 0 </h6>
		                                                         </li>
		                                                     </ul>      
		                                               </li>
		                                               
		                                                <li class="col-md-4 charlist">
		                                                    <h6>Sponsor</h6>
		                                                    <ul class="row">
		                                                         <li class=" col-md-12 charlist1">
		                                                          <h6> 0 </h6>
		                                                         </li>
		                                                     </ul>      
		                                                </li>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                    <li class="col-md-6 charlist">
		                                        <ul class="row">
		                                            <li class="col-md-1 charlist">
		                                                <div>
		                                                  <p class="charlist2"></p>  
		                                                </div>
		                                            </li>
		                                            <li class="col-md-11 charlist">
		                                                <h6 class="h62">Total Pencairan</h6>
		                                                <br>
		                                                <div><h1>Rp.123.456</h1></div>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                 </ul>
		                            </div>
		                        </div>
		                     </div>
		                </div>                         
		            </div>
		        </div>
		    </div>


	 <!-- Footer -->
		<footer th:replace="footer::foot"></footer>
    <!-- Footer -->
	</div>
    
</body>
    <jQuery th:replace="script::jQuery"></jQuery>
	<autocomplete th:replace="script::autocomplete"></autocomplete>
	<loader th:replace="script::loader"></loader>
	<cekAkun th:replace="script::cekAkun"></cekAkun>


<!-- Mirrored from ritetags.com/html/charity/event-grid.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 May 2018 10:15:53 GMT -->
</html>