<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

</head>
<body>
	<table id="example" class="display" style="width:100%">
         <thead class="m-t-20">
                 <th>Judul Proyek</th>
                 <th>Nominal Sponsor</th>
                 <th>Tanggal Sponsor</th>
                 <th>Status Proyek</th>
                 <th>Status Sponsor</th>
                 <th></th>
		</thead>
		<tbody>
           <tr th:each="s,iterStat:${listsponsor}">
                <th th:text=${s.proyek.namaProyek}></th>
                <th th:text="${s.jumlahSponsor}"></th>
                <th th:text="${s.createDate}"></th>
                <th th:text="${s.proyek.status}"></th>
                <th th:text="${s.status}"></th>
                <th><a th:href="@{detailsponsor}">detail</a></th>
        	</tr>
        </tbody>
    </table>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    		$('#example').DataTable();
		} );
    </script>
</body>
</html>