<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<cekLogin th:fragment="cekLogin">
	<script type="text/javascript">
		function alertlogin(){
			alert("silahkan login terlebih dahulu")
		}
	</script>
</cekLogin>

<cekAkun th:fragment="cekAkun">
	<script>
		function alertverfikasi(){
			alert("silahkan verifikasi akun anda dan tunggu konfirmasi dari kami")
		}
	</script>
</cekAkun>

<pengecekanDana th:fragment="pengecekanDana">
	<script>
 		var sisa;
 		function myfunction(){
 		 	var proyek = $("#proyek").val();
 	 		$.ajax({
			  url:"oneproyeksisadana?id="+proyek,
			  success: function( result ) {
				  sisa = result;
				  document.getElementById("sisaDana").value = sisa;
				  }
			});
 		};		
	</script>	
</pengecekanDana>

<pencairanDana th:fragment="pencairanDana">
	<script>
		function dana(){
		 	var sisadana = $("#sisaDana").val();
		 	var jumlahdana = $("#jumlahDana").val();
		 	if(jumlahdana > sisadana){
		 		alert ("dana tidak bisa dicairkan")
		 		document.getElementById("myBtn").disabled = true;	
		 	}
	 	};
	</script>
</pencairanDana>

<cekCountWord th:fragment="cekCountWord">
	<script type="text/javascript">
		document.querySelectorAll('textarea[data-max-words]').forEach(input => {
		  // Remember the word limit for the current input
		  let maxWords = parseInt(input.getAttribute('data-max-words') || 0)
		  // Add an eventlistener to test for key inputs
		  input.addEventListener('keydown', e => {
		    let target = e.currentTarget
		    // Split the text in the input and get the current number of words
		    let words = target.value.split(/\s+/).length
		    // If the word count is > than the max amount and a space is pressed
		    // Don't allow for the space to be inserted
		    if (!target.getAttribute('data-announce'))
		      // Note: this is a shorthand if statement
		      // If the first two tests fail allow the key to be inserted
		      // Otherwise we prevent the default from happening
		      words >= maxWords && e.keyCode == 32 && e.preventDefault()
		    else
		      words >= maxWords && e.keyCode == 32 && (e.preventDefault() || alert('Word Limit Reached'))
		  });
		});
	</script>
</cekCountWord>
<datepicker th:fragment="datepicker"> 
   <script>
      $(function() {
    	  var $dp1 = $("#datepicker");
    	  $dp1.datepicker({
    	    changeYear: true,
    	    changeMonth: true,
    	    minDate: 0,
    	    yearRange: "-100:+20",
    	  });
      });
  </script>
</datepicker>


<getPhoto th:fragment="getPhoto"> 
	<script type="text/javascript">
		function TampilFoto(){
			var oFReader = new FileReader();
			oFReader.readAsDataURL(document.getElementById("file-input").files[0]);
			oFReader.onload = function(oFREvent){
				document.getElementById("Tfoto").src = oFREvent.target.result;
			};
		};
	</script>
</getPhoto>

<getPhoto1 th:fragment="getPhoto1"> 
	<script type="text/javascript">
		function TampilFoto1(){
			var oFReader = new FileReader();
			oFReader.readAsDataURL(document.getElementById("file-input1").files[0]);
			oFReader.onload = function(oFREvent){
				document.getElementById("Tfoto1").src = oFREvent.target.result;
			};
		};
	</script>   
</getPhoto1>

<samePassword th:fragment="samePassword">
    <script type="text/javascript">
      var password = document.getElementById("password")
      , confirm_password = document.getElementById("repassword");

      function validatePassword(){
      if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
      confirm_password.setCustomValidity('');
      }
      }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
</samePassword>

<countdownTime th:fragment="countdownTime">
	<script>
		// Set the date we're counting down to
		var countDown = $("#date1").val();
	 	var countDownDate = new Date(countDown).getTime(); 
		// Update the count down every 1 second
		var x = setInterval(function() {
	
	    // Get todays date and time
	    var test = new Date();
	    test.setHours(test.getHours()-7);
	    var now = test.getTime();
	    	    
	    // Find the distance between now an the count down date
	    var distance = countDownDate - now;
	    
	    // Time calculations for days, hours, minutes and seconds
	    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	    
	    // Output the result in an element with id="demo"
	    document.getElementById("day").innerHTML = days;
	    
	    document.getElementById("hour").innerHTML = hours;
	    
	    document.getElementById("minute").innerHTML = minutes;
	    
	    document.getElementById("second").innerHTML = seconds;
	    
	    // If the count down is over, write some text 
	    if (distance < 0) {
	        clearInterval(x);
	        document.getElementById("day").innerHTML = " 00 ";
		    
		    document.getElementById("hour").innerHTML = " 00 ";
		    
		    document.getElementById("minute").innerHTML = " 00 ";
		    
		    document.getElementById("second").innerHTML = " 00 ";
		    
	    }
	}, 1000);
	</script>
</countdownTime>

<autocomplete th:fragment="autocomplete">
  	<script>
		$(document).ready(function(){
			$.get("/raihmimpi", function(x){
				var data = [];
				$.each(x, function(index, row){
					data[index]={
						index : row.id,
						label : row.namaProyek,
						value : row.namaProyek
					};
				});
				$("#key").autocomplete({
					source:data
				});
			});
		});
  	</script>
</autocomplete>

<modalGallery th:fragment="modalGallery">
	<script>
		function openModal() {
		  document.getElementById('myModal').style.display = "block";
		}
		
		function closeModal() {
		  document.getElementById('myModal').style.display = "none";
		}
		
		var slideIndex = 1;
		showSlides(slideIndex);
		
		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}
		
		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}
		
		function showSlides(n) {
		  var i;
		  var slides = document.getElementsByClassName("mySlides");
		  var dots = document.getElementsByClassName("demo");
		  var captionText = document.getElementById("caption");
		  if (n > slides.length) {slideIndex = 1}
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
		      slides[i].style.display = "none";
		  }
		  for (i = 0; i < dots.length; i++) {
		      dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block";
		  dots[slideIndex-1].className += " active";
		  captionText.innerHTML = dots[slideIndex-1].alt;
		}
	</script>			
</modalGallery>


<editor th:fragment="editor">
	<script src="script/editor.js"></script>
	<script>
			$(document).ready(function() {
				$("#txtEditor").Editor();
			});
		</script>
		<script>
			$(document).ready(function() {
				$("#txtEditor1").Editor();
			});
	</script>
</editor>

<paginate th:fragment="paginate">
	<script src="script/jquery.paginate.js"></script>
	<script>
		//call paginate
		$('#example').paginate();
	</script>
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>	
</paginate>

<loader th:fragment="loader">
	<script>
		var myVar;
		
		function myFunction() {
		    myVar = setTimeout(showPage, 3000);
		}
		
		function showPage() {
		  document.getElementById("loader").style.display = "none";
		  document.getElementById("myDiv").style.display = "block";
		}
	</script>
</loader>

<progressBar th:fragment="progressBar">
	<script th:inline="javascript">
		/*<![CDATA[*/
		 $( function() {
			 var persentase = /*[[${persentaseDana}]]*/;
		   $( "#progressbar" ).progressbar({
		     value: parseInt(persentase)
		   });
		 } );
		/*]]>*/
	</script>
</progressBar>

<DataTable th:fragment="DataTable">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
	    $(document).ready(function() {
	        $('#example').DataTable( {
	        	"columnDefs": [ 
	        		{ "orderable": false, "targets": 5 } 
	        	]
	        } )
	    } );

    </script>
</DataTable>

<checkUsername th:fragment="checkUsername">
    <script>
	    jQuery(document).ready(function($) {
	        $("#username1").keyup(function(){
	            $.get("API/isusernameexist?username="+$(this).val(),function(hasil){
	                if (!hasil){
	                    $("#validateuser").text("username bisa digunakan");
	                    document.getElementById("myBtn").disabled = false;
	                    $( "div.info" ).fadeIn( 300 ).delay( 1500 );
	                }else{
	                    $("#validateuser").text("Username telah digunakan")
	                    document.getElementById("myBtn").disabled = true;
	                    $( "div.info" ).fadeIn( 300 ).delay( 1500 );
	                }
	            });
	        });
	    });	
    </script>
</checkUsername>

<checkEmail th:fragment="checkEmail">
    <script>
	    jQuery(document).ready(function($) {
	        $("#email").keyup(function(){
	            $.get("API/isemailexist?email="+$(this).val(),function(hasil){
	                if (!hasil){
	                    $("#validatemail").text("email bisa digunakan");
	                    document.getElementById("myBtn").disabled = false;
	                    $( "div.info1" ).fadeIn( 300 ).delay( 1500 );
	                }else{
	                    $("#validatemail").text("email telah digunakan")
	                    document.getElementById("myBtn").disabled = true;
	                    $( "div.info1" ).fadeIn( 300 ).delay( 1500 );
	                }
	            });
	        });
	    });	
	    
	    $(document).ready(function(c) {
			$('.alert-close').on('click', function(c){
				$(this).parent().fadeOut('slow', function(c){
				});
			});	
		});
    </script>
</checkEmail>


<modalSponsor th:fragment="modalSponsor">
  	<script src="script/jquery.maskMoney.js" type="text/javascript"></script>	
	<script>
	  	$(document).on("click", ".charity-more-btn", function () {
	 	     var namaProyek = $(this).data('namaproyek');
	 	     $(".modal-body #textjudul").text(namaProyek);
	 	    $(".modal-body #textjudul1").val(namaProyek);
	 	    $('#my_modal').modal('show');
	 	});
	</script>
	<script>
	  $(function() {
		  $("#currency").maskMoney({prefix:'Rp ', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
	  })
	</script>
</modalSponsor>

<tocreateDatepicker th:fragment="datepicker">
	<script src="script/jquery-1.12.4.js"></script>
	<script src="script/jquery-ui.js"></script>	
</tocreateDatepicker>

<jQuery th:fragment="jQuery"> 
	<script src="script/jquery.js"></script>
  	<script src="script/bootstrap.min.js"></script>
  	<script src="script/slick.slider.min.js"></script>
  	<script src="script/progressbar.js"></script>
  	<script src="script/functions.js"></script>
	<script src="script/jquery-1.12.4.js"></script>
  	<script src="script/jquery-ui.js"></script>
</jQuery>

</body>
</html>